.form_booktour h2{
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    text-align:center;
    padding-bottom: 25px;
  }
  
  .form_booktour{
    background-color: #0009;
  }
  
  .form_booktour form {
      width: 50%;
      margin: 0 auto;
  }
  
  .form_booktour select {
      width: 100%;
      border-bottom:  1px solid #ffffff54 !important;
      border-radius: 0px;
      background: transparent;
      color: #fff;
      padding: 7px 5px;
      border: none;
      -webkit-appearance: none;
  }
  .form_booktour input{
    border-bottom: 1px solid #ffffff54 !important;
    border-radius: 0px;
    background: transparent;
    color: #fff;
    padding: 7px 5px;
    border: none;
  }
  .partition_inputs{
    display: -webkit-flex;
  }
  .form_booktour .form_group {
      margin-bottom: 30px;
  }
  .form_booktour {
  
      padding: 41px 0px;
      border-radius: 6px;
      margin: 51px 0px;
  }
  .form_booktour .form_control:focus {
  
      color: #fff;
      background-color:transparent;
      border-color: #fff;
      box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
      outline: none !important;
  
  }

  .select_box{
    position: relative;
  }
  .select_box i{
    position: absolute;
    top: 10px;
    right:9px;
    color: #fff;
  }

  .right_space {
    margin-right: 20px;
}

.btn_work .btn{
	background-image: linear-gradient(to bottom right, #dfbb69 , #b1811a) !important;
	padding: 10px 64px;
	box-shadow: 0px 2px 5px 0px #0006;
  border-radius: 6px;
  text-decoration: none !important;
	border: none;
    font-weight: 600; 
    display: inline-block;
}

.btn{
	background-image: linear-gradient(to bottom right, #dfbb69 , #b1811a) !important;
	padding: 10px 64px;
	box-shadow: 0px 2px 5px 0px #0006 !important;
	border-radius: 6px !important;
	border: none !important;
    font-weight: 600 !important; 
}