.pageLink {
  border: none;
  color: #505050;
  margin: 0px 5px;
  position: -ms-page;
}

.pageLink.active {
  padding: 7px 10px;
  background-color: #0c6a8a;
  border-radius: 50%;
  color: #fff !important;
  cursor:pointer;
}
.pageLink i {
  font-size: 23px;
  color: #0c6a8a;
}

.pageLink:hover {
    color: #0c6a8a;
    cursor:pointer;
}

