.navbarDark .active{
    background-color: #c398394d;
    }
    
    .navbarDark{
    background-color: #0009 !important;
    margin-bottom: 100px !important; 
    }
    .right_nav{
    margin-left: auto;
    }

    .back {
        height: 30px !important;

    }

    .opacity_img {
    height: 45px;
    opacity: 0.7;
    }
     .right_nav li {
        margin-right: 29px !important;
    }
    .looking_for h1 {
    font-size: 42px;
    font-weight: 600;
    padding-bottom: 100px;
    }
    .padding_looking_div {
    padding: 0px 20px;
    }