
.logo_ics img {
    width: 50%;
}
.bg_nav {
    background-color: #0009;
    margin: 30px 0px;
}

.bg_nav li a {
    font-size: 20px;
    font-weight: 200;
}

.bg_nav li {
    padding: 25px 60px;
}

.bg_nav ul {
    width: 50%;
    margin: 0 auto;
}

.btn_work .btn{
	background-image: linear-gradient(to bottom right, #dfbb69 , #b1811a);
	padding: 10px 64px;
	box-shadow: 0px 2px 5px 0px #0006;
	border-radius: 6px;
	border: none;
    font-weight: 600;
}
.space_100{
	padding: 100px 0px;
}
.space_60{
	padding-bottom: 60px; 
}
.login_form h1 {
    font-size: 42px;
    font-weight: 600;
}

.login{
	background-color: #fff;
	box-shadow: 0px 0px 11px 0px #0000001a;
}

.form_style i{
	color:#d2d2d7;
	position: absolute;
	top: 11px;
	left: 15px;	
}
.form_style {
    width: 60%;
    margin: 0 auto;
    padding: 50px;
    border-radius: 6px;
}
.form_style .formGroup{
	position: relative;
}

.formControl::placeholder {
    color: #d2d2d7;
    opacity: 1;
    font-size: 16px;
    font-weight: 200;
}
.form_style .formControl {
    border: none;
    border-bottom: 1px solid #d2d2d7;
    border-radius: 0px;
    padding: 0px 45px;
    margin-bottom: 45px;
}
.formControl:focus{
	box-shadow: none !important;
	border-bottom:1px solid #dfbb69;
}
.forgot_pwd a{
	font-size: 14px;
	color: #bd9130;
}

.forgot_pwd a:hover{
	font-size: 14px;
	color: #bd9130;
}

.login_btn .btn {
    padding: 10px 100px;
}
.login_btn {
    margin: 45px 0px;
    margin-bottom: 45px;
}
.adv_6{
    background-image: url('./../../../assests/Images/Celestebg.jpg');
    height:300px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px;
    position: relative;
}
.adv_6 a {
    position: absolute;
    bottom: 15px;
    color: #fff;
    left: 0px;
    width: 100%;
    font-weight: 600;
}

.bg_adv{
        background-image:url('./../../../assests/Images/sunset.jpg');
          background-size: cover;
        
}