.Logo {
  padding: 8px;
  box-sizing: border-box;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 999;
  left: 50%;
  right: 50%;
  top: -10%;
  width: 90px;
}

.Logo img {
  height: 100%;
  position: absolute;
  z-index: 999;
}
