.looking_for h1 {
  font-size: 42px;
  font-weight: 600;
  padding-bottom: 100px;
}
.padding_looking_div {
  padding: 0px 20px;
}

/*playButton*/

.play_btn {
  width: 100px;
  height: 100px;
  background-color: #fcfcfce6 !important;
  border-radius: 50%;
  position: relative;
  display: block;
  margin: 10px auto;
  box-shadow: 0px 0px 25px 3px #898989;
}

/* triangle */
.play_btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  transform-origin: center center;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #c79d41;
  z-index: 100;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* pulse wave */
.play_btn:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
  animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.75);
  top: -30%;
  left: -30%;
  background: rgba(198, 16, 0, 0);
}

@-webkit-keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75),
      0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;
  }
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75),
      0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;
  }
}

/*playbutton_end*/

.experience_video video {
  width: 100%;
  height: 400px;
  background-color: #000;
  position: relative;
}
.experience_video {
  padding-bottom: 100px;
}

.animate_btn {
  position: absolute;
  z-index: 1000;
  width: 100%;
  margin: 0 auto;
  transform: translateY(100%);
}

.round_list_sec {
  padding-bottom: 100px;
}

.round_img {
  width: 50%;
}
.friends_list {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}
.inner_list_round {
  position: relative;
}
.friends_list img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.find_more_btn .btn {
  background-color: #eaddbd;
  border: 1px solid #a98c43;
  padding: 10px 70px;
  margin-top: 35px;
  font-weight: 600;
}
.f5 {
  width: 48px;
  margin: 0 auto;
  text-align: right;
  margin-right: 527px;
  margin-top: -473px;
}

.f2 {
  width: 48px;
  margin: 0 auto;
  text-align: right;
  margin-right: 690px;
  margin-top: -301px;
}

.f8 {
  width: 48px;
  margin: 0 auto;
  margin-top: -296px;
  margin-right: 334px;
}
.f3 {
  width: 48px;
  margin: 0 auto;
  margin-right: 336px;
  margin-top: 14px;
}
.f7 {
  width: 48px;
  margin-left: 259px;
  margin-top: -189px;
}
.f1 {
  width: 48px;
  margin: 0 auto;
  margin-left: 629px;
  margin-top: 356px;
}

.f4 {
  width: 48px;
  margin: 0 auto;
  text-align: left;
  margin-left: 386px;
  margin-top: 184px;
}
.f6 {
  width: 48px;
  margin: 0 auto;
  text-align: right;
  margin-right: 348px;
  margin-top: 419px;
}

.space_100 {
  padding: 100px 0px;
}

.adv_6 {
  background-image: url("./../../../assests/Images/Celestebg.jpg");
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 6px;
  position: relative;
}
.adv_6 a {
  position: absolute;
  bottom: 15px;
  text-decoration: none !important;
  color: #fff;
  left: 0px;
  width: 100%;
  font-weight: 600;
}

.adv_6 a:hover {
  color: #fff;
}

.bg_adv {
  background-image: url("./../../../assests/Images/sunset.jpg");
  background-size: cover;
}

.round_list_sec .dropbtn {
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: none;
}

.round_list_sec .dropdown {
  position: relative;
  display: flow-root;
}

.round_list_sec .dropdown_content {
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 12px;
  min-width: 270px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: -103px;
  top: 52px;
}

.round_list_sec .dropdown_content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.round_list_sec .dropdown:hover .dropdown_content {
  display: block;
}

.round_list_sec .dropdown:hover .dropbtn {
  background-color: transparent;
}

.profile_friend_hover img {
  height: 60px;
  border-radius: 50%;
  width: 60px;
}
.row_cus {
  -webkit-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}
.profile_friend_hover .like_tour {
  font-size: 23px;
  display: -webkit-flex;
  border-bottom: none;
}
.profile_friend_hover {
  padding: 25px 0px;
}
.profile_friend_hover h5 {
  padding: 10px 0px;
  margin: 0px;
}
.profile_friend_hover p {
  margin-bottom: 7px;
}

.profile_friend_hover .left {
  margin-right: auto;
}
.profile_friend_hover .right {
  margin-left: auto;
}
.profile_friend_hover {
  position: relative;
}

.online_status {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #0f923a;
}

.left {
  float: left;
  padding-left: 20px;
  color: #0f923a !important;
}

.right {
  float: right;
  padding-right: 20px;
  color: #f75454 !important;
}

.invite_btn_btn {
  background-image: linear-gradient(to bottom right, #dfbb69, #b1811a);
  padding: 10px 64px;
  box-shadow: 0px 2px 5px 0px #0006;
  border-radius: 6px;
  border: none;
  font-weight: 600;
}
