.network_ylwlit .round_lit img {
    width: 100%;
    border: 2px solid yellow;
    height: 8vw;
    object-fit: cover;
  }

  .network_ylwlit .round_lit{
    margin-top:12px; 
}
.space_100{
    padding: 100px 0px;
}
.network_ylwlit h4{
    font-weight: 600;
}

.find_more .btn {
    background-color: #eaddbd;
    padding: 10px 70px;
    margin-top: 35px;
    box-shadow: 0px 2px 5px 0px #0006 !important;
	border-radius: 6px !important;
	border: none !important;
    font-weight: 600 !important; 
}
.row_cus {
    -webkit-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }