.p5 {
    padding: 3rem !important;
  }

  .option_bg img {
    height: 50px;
  }

  .option_bg {
    background-color: #f5f4f4;
    padding: 85px;
    border: 1px solid transparent;
    border-radius: 12px;
  }
  a:hover .option_bg {
    background-color: #eaddbd;
    border: 1px solid #ce9710;
    box-shadow: 0px 0px 11px 0px #0000001a;
    cursor: pointer;
  }

  .activeSurvey {
    background-color: #eaddbd;
    border: 4px solid #ce9710 !important;
    box-shadow: 0px 0px 11px 0px #0000001a;
  }