.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.Invalid {
    border: 1px solid red;
    background-color: #FDA49A;
}

.alertValidate::before {
    content: attr(datavalidate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 2px solid rgb(248, 244, 8);
    border-radius: 100px;
    padding: 4px 25px 4px 10px;
    top: 21%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 12px;
    pointer-events: none;
  
    font-family: Poppins-Regular;
    color: darkred;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
  
    visibility: hidden;
    opacity: 0;
  
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
    z-index: 9;
  }
  
  .alertValidate::after {
    content: "\f12a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: rgb(243, 55, 55);
    font-size: 16px;
    top: 21%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 18px;
    z-index: 10;
  }
  
  .alertValidate:hover:before {
    visibility: visible;
    opacity: 1;
 
  }
  
  @media (max-width: 992px) {
    .alertValidate::before {
      visibility: visible;
      opacity: 1;
    }
  }

  .rs1WrapInput100,
  .rs2WrapInput100 {
    width: 50%;
  }

  .rs2WrapInput100 {
    border-left: none;
  }

  @media (max-width: 576px) {
    .login100Form {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 150px;
    }
  
    .rs1WrapInput100,
    .rs2WrapInput100 {
      width: 100%;
    }
  
    .rs2WrapInput100 {
      border-left: 1px solid #e6e6e6;
    }
  }

  .wrapInput100 {
    width: 100%;
    position: relative;
  }

  .m-b-20 {margin-bottom: 20px;}


  .focusInput100 {
    position: absolute;
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    pointer-events: none;
    border: 1px solid #00ad5f;
  
    visibility: hidden;
    opacity: 0;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  
    -webkit-transform: scaleX(1.1) scaleY(1.3);
    -moz-transform: scaleX(1.1) scaleY(1.3);
    -ms-transform: scaleX(1.1) scaleY(1.3);
    -o-transform: scaleX(1.1) scaleY(1.3);
    transform: scaleX(1.1) scaleY(1.3);
  }


.logo_ics img {
    width: 50%;
}
.bg_nav {
    background-color: #0009;
    margin: 30px 0px;
}

.bg_nav li a {
    font-size: 20px;
    font-weight: 200;
}

.bg_nav li {
    padding: 25px 60px;
}

.bg_nav ul {
    width: 50%;
    margin: 0 auto;
}

.btn_work .btn{
	background-image: linear-gradient(to bottom right, #dfbb69 , #b1811a);
	padding: 10px 64px;
	box-shadow: 0px 2px 5px 0px #0006;
	border-radius: 6px;
	border: none;
    font-weight: 600; 
    display: inline-block;
}
.country_code{
  width:9%;
  padding: 6px 28px !important;
}
.part_width{
  width:50%;
}

.btn{
	background-image: linear-gradient(to bottom right, #dfbb69 , #b1811a);
	padding: 10px 64px;
	box-shadow: 0px 2px 5px 0px #0006 !important;
	border-radius: 6px !important;
	border: none !important;
    font-weight: 600 !important; 
}

.space_100{
	padding: 100px 0px;
}
.space_60{
	padding-bottom: 60px; 
}
.login_form h1 {
    font-size: 42px;
    font-weight: 600;
}

.login{
	background-color: #fff;
	box-shadow: 0px 0px 11px 0px #0000001a;
}

.form_style i{
	color:#d2d2d7;
	position: absolute;
	top: 11px;
	left: 15px;	
}
.form_style {
    width: 60%;
    margin: 0 auto;
    padding: 50px;
    border-radius: 6px;
}
.form_style .formGroup{
	position: relative;
}

.formControl::placeholder {
    color: #d2d2d7;
    opacity: 1;
    font-size: 16px;
    font-weight: 200;
}
.form_style .formControl {
    border: none;
    border-bottom: 1px solid #d2d2d7;
    border-radius: 0px;
    padding: 6px 45px;
    margin-bottom: 45px;
}
.formControl:focus{
	box-shadow: none !important;
    border-bottom:1px solid #dfbb69 !important;
    outline: none;
}
.forgot_pwd a{
	font-size: 14px;
	color: #bd9130;
}
.login_btn .btn {
    padding: 10px 100px;
}
.login_btn {
    margin: 45px 0px;
    margin-bottom: 45px;
}


/*signup_page*/

.partition{
    display: -webkit-flex;
}
.right_space {
    margin-right: 20px;
    overflow: hidden;
}

.signup_form .form_style .form-control {
    padding: 0px 38px;
    margin-bottom: 25px;
}

.acc_btn {
    background-color: #fff !important;
    background-image: none !important;
    border: 1px solid #000 !important;
    padding: 10px 37px !important;
    margin-top: 15px;
}

.dropDown {
    outline: none;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 3px 0 0 3px;
}

.inputP {
  
    outline: none !important;
    border: none;
    border-bottom: 1px solid #CACACA !important;
  
}


.searchDropDown {
  position: absolute;
  bottom: 40px !important;
  top: 40px;
}