.option_bg img {
  height: 50px;
}
.bg_white {
  background-color: #fff;
  box-shadow: 0px 0px 11px 0px #0000001a;
}

.option_bg {
  background-color: #f5f4f4;
  padding: 85px;
  border: 1px solid transparent;
  border-radius: 12px;
}
.survey_div a:hover .option_bg {
  background-color: #eaddbd;
  border: 1px solid #ce9710;
  box-shadow: 0px 0px 11px 0px #0000001a;
  transition: 0.6s;
}
.survey_div {
  padding: 45px;
}

.survey_div h1 {
  font-size: 24px;
}
.steps_round {
  display: -webkit-flex;
}
.steps_round i {
  color: #f5f4f4;
  font-size: 13px;
}

.steps_round i.active {
  color: #eaddbd;
}
.survey_div .center {
  width: 100%;
}

.next_btn .btn {
  display: inline-block !important;
  font-weight: 400 !important;
  text-align: center !important;
  white-space: nowrap !important;
  vertical-align: middle !important;
  background-color: #eaddbd !important;
  color: #000 !important;
  border: 1px solid #a98c43 !important;
  padding: 8px 85px !important;
  cursor: pointer !important;
  border-radius: 0.25rem !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
    text-decoration: none;
}

.space_100 {
  padding: 100px 0px;
}

.pb5 {
  padding-bottom: 3rem !important;
}

.p5 {
  padding: 3rem !important;
}

.row_cus {
  -webkit-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}
