.bg_fff {
  box-shadow: 0px 0px 20px 0px #d2d2d787;
  background-color: #fff;
  padding: 35px 100px;
  border-radius: 6px;
}
.flex {
  display: -webkit-flex;
  width: 100%;
}
.flex .form-group {
  width: 100%;
}
.cel_formpage .form-control {
  margin-bottom: 12px;
  box-shadow: none !important;
  font-size: inherit;
}
.form-control:focus {
  box-shadow: none !important;
  border-bottom: 1px solid #dfbb69 !important;
}
.profile_sec .form-control {
  margin-bottom: 23px;
  height: auto;
}

.cel_formpage input {
  border: none;
  width: -webkit-fill-available;
  border-radius: 0px;
  outline: none;
  border-bottom: 1px solid #d2d2d7;
  background-color: transparent;
}

.cel_formpage input:focus {
  border: none;
  outline: none;
  width: -webkit-fill-available;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid #dfbb69 !important;
}

.cel_formpage .bg_fff h2 {
  font-size: 26px;
  font-weight: 600;
  padding-bottom: 35px;
  margin-bottom: 0px;
}

.partner_detail img {
  width: 100%;
  margin-bottom: 12px;
}
.partner_detail p {
  margin-bottom: 0px;
}

.bg_fff p {
  font-size: 14px;
}
.addon_input {
  position: relative;
}
.addon_input img {
  width: 30px;
  height: 30px;
}
.addon_input .bn {
  position: absolute;
  right: 0;
  top: -13px;
  background-color: transparent;
  padding: 0px;
}

.addon_input .bn:hover {
  position: absolute;
  right: 0;
  top: -13px;
  background-color: transparent;
  padding: 0px;
}

.addon_input .bn:active {
  position: absolute;
  right: 0;
  top: -13px;
  background-color: transparent;
  padding: 0px;
}

.avaliable_inner {
  box-shadow: 0px 0px 20px 0px #d2d2d787;
  border-radius: 6px;
  padding: 25px 19px;
  height: 304px;
}

/*slider_btn*/
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #585858;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*slider_btn_end*/

.avaliable_inner li {
  display: -webkit-flex;
  align-items: center;
  margin-bottom: 7px;
}
.avaliable_inner li label {
  margin-left: auto;
}
.avaliable_inner p {
  font-weight: 600;
}
.blockdays input[type="checkbox"] {
  margin-left: auto;
}

.avaliable_inner h6 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 20px;
}
.calender {
  font-size: 14px;
  font-weight: 600;
}
.spc_rght {
  margin-right: 65px;
}
.personality,
.test {
  font-size: 14px;
}
.personality li {
  padding-bottom: 25px;
}
.test li {
  padding-bottom: 10px;
}
.personality p {
  margin-bottom: 8px;
  font-weight: 600;
}
.test p {
  font-weight: 600;
}
.test .bg_fff {
  padding: 35px 55px;
}
.save .btn {
  background-color: #eaddbd;
  border: 1px solid #a98c43;
  padding: 10px 70px;
  margin-top: 35px;
  font-size: inherit;
  font-weight: 600;
  margin-right: 20px;
}

.space_100 {
  padding: 100px 0px;
}

.social_li {
  display: -webkit-flex;
}
.icons_social {
  margin-left: auto;
}

.social_li a {
  margin-right: 18px;
  color: #000;
  font-size: 27px;
}
.test_radio_btn input[type="radio"] {
  transform: translateY(px);
}

.row_cus {
  -webkit-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
 -webkit-appearance: none;
-appearance: none;
 margin: 0;
}
 
