.space_100{
	padding: 100px 0px;
}

.upload_celeste .btn {
    background-color: #eaddbd;
    border: 1px solid #a98c43;
    padding: 10px 70px;
    margin-top: 35px;
    font-size: inherit !important;
    font-weight: 600;
    margin-right: 20px;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:hover {
    background-color: #f5eede !important;
    border: 1px solid #a98c43 !important;
    padding: 10px 70px;
    margin-top: 35px;
    font-size: inherit !important;
    font-weight: 600;
    margin-right: 20px;
}

.btn:focus {
    background-color: #eaddbd !important;
    border: 1px solid #a98c43 !important;
    padding: 10px 70px;
    margin-top: 35px;
    font-size: inherit !important;
    font-weight: 600;
    margin-right: 20px;
}