.img_tour {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 2px #d2d2d7;
}

.img_tour img {
  width: 100%;
  height: 11vw;
  object-fit: cover;
  position: relative;
}

.rating_stars {
  display: -webkit-flex;
  color: #f8b81d;
  position: absolute;
  right: 20px;
  top: 8px;
  font-size: 12px;
}
.like_tour {
  font-size: 32px;
  border-bottom: 1px solid #d2d2d7;
}
.row_cus {
  -webkit-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}
.left {
  float: left;
  padding-left: 20px;
  color: #0f923a !important;
}
.right {
  float: right;
  padding-right: 20px;
  color: #f75454 !important;
}
.fa-heart {
  color: #f6ba2a;
}
.place_name {
  display: -webkit-flex;
  font-size: 12px;
  padding: 15px 8px;
  font-weight: 600;
  position: relative;
}
.days {
  position: absolute;
  right: 8px;
}
.place_name p {
  margin-bottom: 0px;
}

.looking_for h1 {
  font-size: 42px;
  font-weight: 600;
  padding-bottom: 100px;
}

.space_100 {
  padding: 100px 0px;
}

.play_btn {
  width: 100px;
  height: 100px;
  background-color: #fcfcfce6 !important;
  border-radius: 50%;
  position: relative;
  display: block;
  margin: 10px auto;
  box-shadow: 0px 0px 25px 3px #898989;
}

/* triangle */
.play_btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  transform-origin: center center;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #c79d41;
  z-index: 100;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* pulse wave */
.play_btn:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
  animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.75);
  top: -30%;
  left: -30%;
  background: rgba(198, 16, 0, 0);
}

@-webkit-keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75),
      0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;
  }
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75),
      0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;
  }
}

/*playbutton_end*/

.experience_video video {
  width: 100%;
  height: 400px;
  background-color: #000;
  position: relative;
}
.experience_video {
  padding-bottom: 100px;
}

.animate_btn {
  position: absolute;
  z-index: 1000;
  width: 100%;
  margin: 0 auto;
  transform: translateY(100%);
}
