.network_ylwlit h4{
    font-weight: 600;
    font-size: inherit !important;
}

.down_space{
    padding-bottom: 100px;
}

.normal_lit img{
    width: 100%;
    height: 6vw;
    border:2px solid yellow;
    object-fit: cover;
  }

  .find_more .btn {
    background-color: #eaddbd;
    border: 1px solid #a98c43;
    padding: 10px 70px;
    font-size: initial !important;
    margin-top: 35px;
    font-weight: 600;
    margin-right: 20px;
}

.row_cus {
    -webkit-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }