.adv_6{
    background-image: url('./../../assests/Images/Celestebg.jpg');
    height:300px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px;
    position: relative;
}
.adv_6 a {
    position: absolute;
    bottom: 15px;
    color: #fff;
    left: 0px;
    width: 100%;
    font-weight: 600;
}

.bg_adv{
        background-image:url('./../../assests/Images/sunset.jpg');
          background-size: cover;
        
}

.space_60{
	padding-bottom: 60px; 
}

.row_cus {
    -webkit-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }