.login_form h1 {
    font-size: 42px;
    font-weight: 600;
}

.space_100{
	padding: 100px 0px;
}

.space_60{
	padding-bottom: 60px; 
}

.form_style i{
	color:#d2d2d7;
	position: absolute;
	top: 11px;
	left: 15px;	
}
.form_style {
    width: 60%;
    margin: 0 auto;
    padding: 50px;
    border-radius: 6px;
}
.form_style .formGroup{
    position: relative;
    margin-top:20px;
}

.formControl::placeholder {
    color: #d2d2d7;
    opacity: 1;
    font-size: 16px;
    font-weight: 200;
}
.form_style .formControl {
    border: none;
    border-bottom: 1px solid #d2d2d7;
    border-radius: 0px;
    padding: 6px 45px;
    margin-bottom: 45px;
    width: 100%;
}
.formControl:focus{
	box-shadow: none !important;
    border-bottom:1px solid #dfbb69 !important;
    outline: none;
}

.login{
	background-color: #fff;
	box-shadow: 0px 0px 11px 0px #0000001a;
}

.btn_work .btn{
	background-image: linear-gradient(to bottom right, #dfbb69 , #b1811a);
	padding: 10px 64px;
	box-shadow: 0px 2px 5px 0px #0006;
	border-radius: 6px;
	border: none;
    font-weight: 600;
}

.login_btn .btn {
    padding: 10px 100px;
}
.login_btn {
    margin: 45px 0px;
    margin-bottom: 45px;
}

.wrapInput100 {
    width: 100%;
    position: relative;
  }

  .alertValidate::before {
    content: attr(datavalidate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 21%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 12px;
    pointer-events: none;
  
    font-family: Poppins-Regular;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
  
    visibility: hidden;
    opacity: 0;
  
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
    z-index: 9;
  }
  
  .alertValidate::after {
    content: "\f12a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 16px;
    top: 21%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 18px;
    z-index: 10;
  }
  
  .alertValidate:hover:before {
    visibility: visible;
    opacity: 1;
 
  }
  
  @media (max-width: 992px) {
    .alertValidate::before {
      visibility: visible;
      opacity: 1;
    }
  }