.partner_detail img {
    width: 100%;
    margin-bottom: 12px;
  }
  .partner_detail p {
    margin-bottom: 0px;
  }

  .addon_input .bn {
    position: absolute;
    right: 0;
    top: -13px;
    background-color: transparent;
    padding: 0px;
  }
  
  .addon_input .bn:hover {
    position: absolute;
    right: 0;
    top: -13px;
    background-color: transparent;
    padding: 0px;
  }
  
  .addon_input .bn:active {
    position: absolute;
    right: 0;
    top: -13px;
    background-color: transparent;
    padding: 0px;
  }