
.main_sec_1 {
	background-repeat: no-repeat;
	background-size: cover;
	height:100vh;
    padding-top: 6%;
}

.booktour_page .main_sec_1 {
  background-size: cover;
  height: 100%;
  padding-bottom: 2%;
}

.homepage_vedi .main_sec_1 {
  background-size: cover;
  /*height: 100%;*/
}

.celeste_hiringpage .main_sec_1{
  background-size: cover;
  height: 100vh;
  padding-bottom: 2%;
}
p{
margin:0px;
}

.celeste_hiringpage .btn_work {
margin-top: 42px;
}


.main_sec_1 ul{
	display: -webkit-flex;
}
.logo_ics img {
    width: 100%;
}
.main_sec_1 li {
    list-style: none;
}
.main_sec_1 a {
    color: #fff;
}

.bg_nav {
  background-color: #0009;
  margin: 30px 0px;
}

.bg_nav li a {
  font-size: 20px;
  font-weight: 200;
}

.bg_nav li {
  padding: 25px 60px;
}

.bg_nav ul {
  width: 50%;
  margin: 0 auto;
}


.logo_ics img {
    width: 50%;
}
.bg_nav {
    background-color: #0009;
    margin: 30px 0px;
}

.bg_nav li a {
    font-size: 20px;
    font-weight: 200;
}

.bg_nav li {
    padding: 25px 60px;
}

.bg_nav ul {
    width: 50%;
    margin: 0 auto;
}

.space_100{
	padding: 100px 0px;
}
.space_60{
	padding-bottom: 60px; 
}
.login_form h1 {
    font-size: 42px;
    font-weight: 600;
}

.login{
	background-color: #fff;
	box-shadow: 0px 0px 11px 0px #0000001a;
}

.form_style i{
	color:#d2d2d7;
	position: absolute;
	top: 11px;
	left: 15px;	
}
.form_style {
    width: 60%;
    margin: 0 auto;
    padding: 50px;
    border-radius: 6px;
}
.form_style .formGroup{
	position: relative;
}

.form-control::placeholder {
    color: #d2d2d7;
    opacity: 1;
    font-size: 16px;
    font-weight: 200;
}
.form_style .formControl {
    border: none;
    border-bottom: 1px solid #d2d2d7;
    border-radius: 0px;
    padding: 0px 45px;
    margin-bottom: 45px;
}
.form-control:focus{
	box-shadow: none !important;
	border-bottom:1px solid #dfbb69;
}
.forgot_pwd a{
	font-size: 14px;
	color: #bd9130;
}
.login_btn .btn {
    padding: 10px 100px;
}
.login_btn {
    margin: 45px 0px;
    margin-bottom: 45px;
}
.adv_6{
    background-image: url('./../../../assests/Images/Celestebg.jpg');
    height:300px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px;
    position: relative;
}
.adv_6 a {
    position: absolute;
    bottom: 15px;
    color: #fff;
    left: 0px;
    width: 100%;
    font-weight: 600;
}

.bg_adv{
        background-image:url('./../../../assests/Images/sunset.jpg');
          background-size: cover;
        
}















.logo_ics img {
  width: 50%;
}
.bg_nav {
  background-color: #0009;
  margin: 30px 0px;
}

.bg_nav li a {
  font-size: 20px;
  font-weight: 200;
}

.bg_nav li {
  padding: 25px 60px;
}

.bg_nav ul {
  width: 50%;
  margin: 0 auto;
}

.btn_work .btn{
background-image: linear-gradient(to bottom right, #dfbb69 , #b1811a);
padding: 10px 64px !important;
box-shadow: 0px 2px 5px 0px #0006 !important;
border-radius: 6px !important;
font-size: medium !important;
border: none !important;
  font-weight: 600 !important;
}
.space_100{
padding: 100px 0px;
}
.space_60{
padding-bottom: 60px; 
}
.login_form h1 {
  font-size: 42px;
  font-weight: 600;
}

.login{
background-color: #fff;
box-shadow: 0px 0px 11px 0px #0000001a;
}

.form_style i{
color:#d2d2d7;
position: absolute;
top: 11px;
left: 15px;	
}
.form_style {
  width: 60%;
  margin: 0 auto;
  padding: 50px;
  border-radius: 6px;
}
.form_style .formGroup{
position: relative;
}

.form-control::placeholder {
  color: #d2d2d7;
  opacity: 1;
  font-size: 16px;
  font-weight: 200;
}
.form_style .formControl {
  border: none;
  border-bottom: 1px solid #d2d2d7;
  border-radius: 0px;
  padding: 0px 45px;
  margin-bottom: 45px;
}
.form-control:focus{
box-shadow: none !important;
border-bottom:1px solid #dfbb69;
}
.forgot_pwd a{
font-size: 14px;
color: #bd9130;
}
.login_btn .btn {
  padding: 10px 100px;
}
.login_btn {
  margin: 45px 0px;
  margin-bottom: 45px;
}
.adv_6{
  height:300px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 6px;
  position: relative;
}
.adv_6 a {
  position: absolute;
  bottom: 15px;
  color: #fff;
  left: 0px;
  width: 100%;
  font-weight: 600;
}

.bg_adv{
        background-size: cover;
      
}

.navbarDark .active{
background-color: #c398394d;
}

.navbarDark{
background-color: #0009 !important;
margin-bottom: 100px !important; 
}
.right_nav{
margin-left: auto;

}
.opacity_img {
height: 45px;
opacity: 0.7;
}
.navbar_nav .right_nav li {
margin-right: 29px;
}
.looking_for h1 {
font-size: 42px;
font-weight: 600;
padding-bottom: 100px;
}
.padding_looking_div {
padding: 0px 20px;
}



/*playButton*/

.play-btn {
width: 100px;
height: 100px;
background-color: #fcfcfce6 !important;
border-radius: 50%;
position: relative;
display: block;
margin: 10px auto;
box-shadow: 0px 0px 25px 3px #898989;
}

/* triangle */
.play-btn::after {
content: "";
position: absolute;
left: 50%;
top: 50%;
-webkit-transform: translateX(-40%) translateY(-50%);
transform: translateX(-40%) translateY(-50%);
transform-origin: center center;
width: 0;
height: 0;
border-top: 15px solid transparent;
border-bottom: 15px solid transparent;
border-left: 25px solid #c79d41;
z-index: 100;
-webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* pulse wave */
.play-btn:before {
content: "";
position: absolute;
width: 150%;
height: 150%;
-webkit-animation-delay: 0s;
animation-delay: 0s;
-webkit-animation: pulsate1 2s;
animation: pulsate1 2s;
-webkit-animation-direction: forwards;
animation-direction: forwards;
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
-webkit-animation-timing-function: steps;
animation-timing-function: steps;
opacity: 1;
border-radius: 50%;
border: 5px solid rgba(255, 255, 255, .75);
top: -30%;
left: -30%;
background: rgba(198, 16, 0, 0);
}

@-webkit-keyframes pulsate1 {
0% {
-webkit-transform: scale(0.6);
transform: scale(0.6);
opacity: 1;
box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
}
100% {
-webkit-transform: scale(1);
transform: scale(1);
opacity: 0;
box-shadow: none;

}
}

@keyframes pulsate1 {
0% {
-webkit-transform: scale(0.6);
transform: scale(0.6);
opacity: 1;
box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
}
100% {
-webkit-transform: scale(1, 1);
transform: scale(1);
opacity: 0;
box-shadow: none;

}
}



/*playbutton_end*/

.experience_video video {

width: 100%;
height: 400px;
background-color: #000;
position: relative;

}
.experience_video{
padding-bottom: 100px;
}

.animate_btn {
position: absolute;
z-index: 1000;
width: 100%;
margin: 0 auto;
transform: translateY(100%);
}

.round_list_sec{
padding-bottom: 100px;
}

.round_img{
width: 50%;
}
.friends_list{
position: absolute;
top: 0;
right: 0;
width: 100%;
}
.inner_list_round{
position: relative;
}
.friends_list img{
width: 50px;
height: 50px;
border-radius: 50%;
}
.find_more_btn .btn {
background-color: #eaddbd;
border: 1px solid #a98c43;
padding: 10px 70px;
margin-top: 35px;
font-weight: 600;
}
.f1 {
margin-top: -16px;
}

.f2 {
width: 50%;
margin: 0 auto;
text-align: right;
padding-right: 55px;
padding-top: 36px;
}

.f3 {
width: 50%;
text-align: right;
padding-right: 133px;
}
.f4 {
width: 50%;
margin: 0 auto;
text-align: right;
padding-right: 63px;
}
.f5 {
width: 50%;
margin-left: 12px;
margin-top: 85px;
}
.f6 {
width: 50%;
margin: 0 auto;
padding-left: 193px;
}

.f7 {
width: 50%;
margin: 0 auto;
text-align: left;
padding-left: 111px;
}
.f8 {
width: 50%;
margin: 0 auto;
text-align: right;
padding-right: 67px;
}