*{
	margin:0;
	padding:0;
}
body{
	background-color: #fbfbfb;
	font-family: 'Open Sans', sans-serif;
}

/*login_page*/

.main_sec_1{
	background-repeat: no-repeat;
	background-size: cover;
	height:100vh;
    padding-top: 6%;
}

.main_sec_1 ul{
	display: -webkit-flex;
}
.logo_ics img {
    width: 100%;
}
.main_sec_1 li {
    list-style: none;
}
.main_sec_1 a {
    color: #fff;
}
.logo_ics img {
    width: 50%;
}
.bg_nav {
    background-color: #0009;
    margin: 30px 0px;
}

.bg_nav li a {
    font-size: 20px;
    font-weight: 200;
}

.bg_nav li {
    padding: 25px 60px;
}

.bg_nav ul {
    width: 50%;
    margin: 0 auto;
}

.btn_work .btn{
	background-image: linear-gradient(to bottom right, #dfbb69 , #b1811a);
	padding: 10px 64px;
	box-shadow: 0px 2px 5px 0px #0006;
	border-radius: 6px;
	border: none;
    font-weight: 600;
}
.space_100{
	padding: 100px 0px;
}
.space_60{
	padding-bottom: 60px; 
}
.login_form h1 {
    font-size: 42px;
    font-weight: 600;
}

.login{
	background-color: #fff;
	box-shadow: 0px 0px 11px 0px #0000001a;
}

.form_style i{
	color:#d2d2d7;
	position: absolute;
	top: 11px;
	left: 15px;	
}
.form_style {
    width: 60%;
    margin: 0 auto;
    padding: 50px;
    border-radius: 6px;
}
.form_style .form-group{
	position: relative;
}

.form-control::placeholder {
    color: #d2d2d7;
    opacity: 1;
    font-size: 16px;
    font-weight: 200;
}
.form_style .form-control {
    border: none;
    border-bottom: 1px solid #d2d2d7;
    border-radius: 0px;
    padding: 0px 45px;
    margin-bottom: 45px;
}
.form-control:focus{
	box-shadow: none !important;
	border-bottom:1px solid #dfbb69;
}
.forgot_pwd a{
	font-size: 14px;
	color: #bd9130;
}
.login_btn .btn {
    padding: 10px 100px;
}
.login_btn {
    margin: 45px 0px;
    margin-bottom: 45px;
}
.adv_6{
    height:300px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px;
    position: relative;
}
.adv_6 a {
    position: absolute;
    bottom: 15px;
    color: #fff;
    left: 0px;
    width: 100%;
    font-weight: 600;
}

.bg_adv{
          background-size: cover;
        
}


/*signup_page*/

.partition{
    display: -webkit-flex;
}
.right_space {
    margin-right: 20px;
}

.signup_form .form_style .form-control {
    padding: 0px 38px;
    margin-bottom: 25px;
}

.acc_btn {
    background-color: #fff !important;
    background-image: none !important;
    border: 1px solid #000 !important;
    padding: 10px 37px !important;
    margin-top: 15px;
}



/*survey_pages*/

.option_bg img{
	height: 50px;
}
.bg_white{
	background-color: #fff;
	box-shadow: 0px 0px 11px 0px #0000001a;
}

.option_bg{
	background-color: #f5f4f4;
	padding: 85px;
	border:1px solid transparent;
	border-radius: 12px;
}
.survey_div a:hover .option_bg{
	background-color: #eaddbd;
	border:1px solid #ce9710;
	box-shadow: 0px 0px 11px 0px #0000001a;
	transition: 0.6s;

} 
.survey_div{
	padding: 45px;
}

.survey_div h1 {
    font-size: 24px;
}
.steps_round{
	display: -webkit-flex;
}
.steps_round i{
	color:#f5f4f4;
	font-size: 13px;
}

.steps_round i.active{
  color:#eaddbd;
}
.survey_div .center {
    width: 100%;
}

.next_btn .btn{
	background-color: #eaddbd;
	color: #000;
	border:1px solid #a98c43;
	padding: 8px 85px;
}
.survey_div .select{
    background-color: #eaddbd;
  border:1px solid #ce9710;
  box-shadow: 0px 0px 11px 0px #0000001a;

}



/*homepage_vedi*/
.homepage_vedi .main_sec_1{
          background-size: cover;
            /*height: 100%;*/
}

.navbar-dark .active{
  background-color: #c398394d;
}

.navbar-dark{
    background-color: #0009 !important;
     margin-bottom: 100px;
}
.right_nav{
    margin-left: auto;
   
}
.opacity_img {
    height: 45px;
    opacity: 0.7;
}
.navbar-nav.right_nav li {
    margin-right: 29px;
}
.looking_for h1 {
    font-size: 42px;
    font-weight: 600;
    padding-bottom: 100px;
}
.padding_looking_div {
    padding: 0px 20px;
}



/*playButton*/

.play-btn {
  width: 100px;
  height: 100px;
  background-color: #fcfcfce6 !important;
  border-radius: 50%;
  position: relative;
  display: block;
  margin: 10px auto;
  box-shadow: 0px 0px 25px 3px #898989;
}

/* triangle */
.play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  transform-origin: center center;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #c79d41;
  z-index: 100;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* pulse wave */
.play-btn:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
  animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, .75);
  top: -30%;
  left: -30%;
  background: rgba(198, 16, 0, 0);
}

@-webkit-keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;

  }
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;

  }
}



/*playbutton_end*/

.experience_video video {

    width: 100%;
    height: 400px;
    background-color: #000;
    position: relative;

}
.experience_video{
    padding-bottom: 100px;
}

.animate_btn {
    position: absolute;
    z-index: 1000;
    width: 100%;
    margin: 0 auto;
    transform: translateY(100%);
}

.round_list_sec{
    padding-bottom: 100px;
}

.round_img{
    width: 50%;
}
.friends_list{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}
.inner_list_round{
  position: relative;
}
.friends_list img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.find_more_btn .btn {
    background-color: #eaddbd;
    border: 1px solid #a98c43;
    padding: 10px 70px;
    margin-top: 35px;
    font-weight: 600;
}
.f1 {
    margin-top: -16px;
}

.f2 {
    width: 50%;
    margin: 0 auto;
    text-align: right;
    padding-right: 55px;
    padding-top: 36px;
}

.f3 {
    width: 50%;
    text-align: right;
    padding-right: 133px;
}
.f4 {
    width: 50%;
    margin: 0 auto;
    text-align: right;
    padding-right: 63px;
}
.f5 {
    width: 50%;
    margin-left: 12px;
    margin-top: 85px;
}
.f6 {
    width: 50%;
    margin: 0 auto;
    padding-left: 193px;
}

.f7 {
    width: 50%;
    margin: 0 auto;
    text-align: left;
    padding-left: 111px;
}
.f8 {
    width: 50%;
    margin: 0 auto;
    text-align: right;
    padding-right: 67px;
}




/*------------Book_tour_page--------------*/

.booktour_page .main_sec_1{
    background-size: cover;
  height: 100%;
  padding-bottom: 2%;
}
.form_booktour h2{
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  text-align:center;
  padding-bottom: 25px;
}

.form_booktour{
  background-color: #0009;
}

.form_booktour form {
    width: 50%;
    margin: 0 auto;
}

.form_booktour select {
    width: 100%;
    border-bottom:  1px solid #ffffff54 !important;
    border-radius: 0px;
    background: transparent;
    color: #fff;
    padding: 7px 5px;
    border: none;
    -webkit-appearance: none;
}
.form_booktour input{
  border-bottom: 1px solid #ffffff54 !important;
  border-radius: 0px;
  background: transparent;
  color: #fff;
  padding: 7px 5px;
  border: none;
}
.partition_inputs{
  display: -webkit-flex;
}
.form_booktour .form-group {
    margin-bottom: 30px;
}
.form_booktour {

    padding: 41px 0px;
    border-radius: 6px;
    margin: 51px 0px;
}
.form_booktour .form-control:focus {

    color: #fff;
    background-color:transparent;
    border-color: #fff;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);

}
.select_box{
  position: relative;
}
.select_box i{
  position: absolute;
  top: 10px;
  right:9px;
  color: #fff;
}
.img_tour{
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 2px #d2d2d7;
}

.img_tour img{
  width: 100%;
  height: 11vw;
  object-fit: cover;
  position: relative;
}

.rating_stars {
  display: -webkit-flex;
  color: #f8b81d;
  position: absolute;
  right: 20px;
  top: 8px;
  font-size: 12px;
}
.like_tour {
    font-size: 32px;
    border-bottom: 1px solid #d2d2d7;
}
.left{
  float: left;
  padding-left: 20px;
  color: #0f923a !important;
}
.right{
  float: right;
  padding-right: 20px;
  color: #f75454 !important;
}
.fa-heart{
  color: #f6ba2a;
}
.place_name {
    display: -webkit-flex;
    font-size: 12px;
    padding: 15px 8px;
    font-weight: 600;
    position: relative;
}
.days{
  position: absolute;
  right:8px;
}
.place_name p {
    margin-bottom: 0px;
}



/*book tour page next*/
  .offer_end_time{
    display: -webkit-flex;
    padding-bottom: 12px;
  }
  .card_invite{
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px #d2d2d778;
    padding: 22px 12px;
    border-radius: 6px;
    width: 30%;
    margin: 0 auto;
  }
  .card_invite .like_tour{
    border:none !important;
    padding: 12px 0px;
  }

   .invite_btn_btn {
    background-image: linear-gradient(to bottom right, #dfbb69 , #b1811a);
    padding: 10px 64px;
    box-shadow: 0px 2px 5px 0px #0006;
    border-radius: 6px;
    border: none;
    font-weight: 600;
  }
 .fas.fa-star{
    color: #f8b81d;
  }

  .card_invite p {
    margin-bottom: 5px;
  }

  .time_all {
    margin-left: auto;
  }
  .img_laptop img {
    width: 78%;
  }
  .itinerary_detail li {
    list-style: none;
  }
  .itinerary_detail h4 {
    padding-bottom: 12px;
  }

  .included_non_inc_sec p {
    margin-bottom: 0px;
  }
  .bg_box {
    background-color: #fff;
    padding: 25px;
    box-shadow: 0px 2px 10px 0px #00000026;
    border-radius: 6px;
  }

  .included_non_inc_sec h5 {
    color: #3a5273;
  }

  .included_non_inc_sec p {
    font-size: 13px;
  }

  .social_li{
    display: -webkit-flex;
   
  }
  .icons_social{
     margin-left: auto;
  }

  .social_li a {
    margin-right: 18px;
    color: #000;
    font-size: 27px;

  }




/*book tour page next_end*/

.round_list_sec .dropbtn {
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: none;
}

.round_list_sec .dropdown {
  position: relative;
  display: inline-block;
}

.round_list_sec .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 12px;
  min-width: 270px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: -103px;
  top: 52px;
}

.round_list_sec .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.round_list_sec .dropdown:hover .dropdown-content {display: block;}

.round_list_sec .dropdown:hover .dropbtn {background-color: transparent;}

.profile_friend_hover img{
    height: 60px;
    border-radius: 50%;
    width: 60px;
}
.profile_friend_hover .like_tour {
    font-size: 23px;
    display: -webkit-flex;
    border-bottom: none;
}
.profile_friend_hover {
    padding: 25px 0px;
}
.profile_friend_hover h5 {
    padding: 10px 0px;
    margin: 0px;
}
.profile_friend_hover p {
    margin-bottom: 7px;
}

.profile_friend_hover .left{
  margin-right: auto; 
}
.profile_friend_hover .right{
  margin-left: auto;
}
.profile_friend_hover{
  position: relative;
}
.online_status { 
    position: absolute;
    right: 10px;
    top: 10px;
    color: #0f923a;
}
.wheel_friends_more img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: 17px;
}
.wheel_friends_more li {
    list-style: none;
    display: inline-block;
}




