.User{
  margin-bottom: 14px;
}

.User img {
  border-radius: 50%;
  height: 9vw;
  object-fit: cover;
}

.User h6 {
  font-weight: 400;
  margin-top: 10px;
  color: #505050;
}


@media screen and (max-width: 700px) {
  .user img {
    height: 37vw;
  }
}
@media screen and (max-width: 992px ) {
    .col-md-3 {
        width: 30% !important;
    }
}
